<p>먹보 비밀번호 찾기 서비스입니다.</p>
<br>
<p>비밀번호를 변경하기 원하시면 아래의 '인증하기' 버튼을 누르시면 비밀번호를 변경할 수 있습니다.</p>
<br>
<p><%= link_to '인증하기', edit_password_url(@resource, reset_password_token: @token) %></p>
<br>
<p>비밀번호는 위의 버튼을 누르셔야만 변경이 됩니다. 비밀번호를 찾기 원하시면 반드시 비밀번호를 변경해주시기 바랍니다.</p>
<br>
<p><b>From 먹고보자! 보고먹자! 먹보!</b></p>
